/* Общий стиль страницы */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Центровка всех элементов */
}

h1 {
  text-align: center;
}

.upload-section {
  padding: 10px;
  width: 100%;
  max-width: 300px; /* Ограничиваем максимальную ширину */
  display: flex;
  flex-direction: column; /* Выравниваем элементы вертикально */
  align-items: center; /* Центрируем элементы по горизонтали */
}

.upload-section label {
  font-weight: bold;
  margin-bottom: 5px;
}

.upload-field {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.upload-field input {
  padding: 5px;
}

.add-book-btn, .generate-btn {
  margin-top: 10px;
  padding: 10px 15px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.add-book-btn {
  background-color: #007bff;
}

.generate-btn {
  background-color: #28a745;
}

#download-link-container {
  margin-top: 20px;
  text-align: center;
}

#download-link-container a {
  font-size: 18px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

#download-link-container a:hover {
  text-decoration: underline;
}

#book-upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}
